.App {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: #A9B4C2;
}

.App-header {
  background-color: #7D98A1;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1C2321;
}
